header {
  width: 80%;
  display: flex;
  align-content: center;
  margin-left: 8.2vw;
}

.indexing {
  /* width: 80%; */
  display: flex;
  align-self: center;
  align-items: center;
  justify-items: space-around;
}

.heading {
  font-size: 1vw;
  color: rgb(8, 8, 75);
  margin-right: 12vw;
}

.indexing li {
  display: inline;
  margin-right: 5vw;
  font-size: 1.2vw;
}

.indexing nav {
  display: flex;
  align-items: center;
  margin-right: 5vw;
}

.btn {
  display: flex;
  align-items: center;
}

.indexing a {
  color: rgb(8, 8, 75);
  text-decoration: none;
}

.indexing button {
  background-color: #c1f7d5;
  border: none;
  padding: 1vw;
  text-align: center;
  font-weight: bold;
  display: inline-block;
  border-radius: 5vw;
  font-size: 1.1vw;
}

#part {
  display: flex;
  background-size: cover;
  background-image: url('/assets/home/annie-spratt-135307-unsplash@3x.png');
  width: 100%;
  padding-bottom: 15vw;
  background-repeat: no-repeat;
  background-position: top;
  opacity: 1;
}

.climetWitheissue {
  display: flex;
  position: relative;
  justify-content: space-around;
  align-items: center;
}

.text {
  width: 28%;
  background-color: transparent;
  position: relative;
  left: -5vw;
  font-family: floodstd;
  font-size: 6vw;
  color: white;
}

.climet {
  width: 42%;
  display: flex;
  background-color: white;
  position: relative;
  margin-top: 7vw;
  flex-flow: column;
  justify-content: space-around;
  align-items: flex-start;
}

.climet p {
  font-size: 2.7vw;
  color: rgb(8, 8, 75);
  font-weight: bold;
  /* align-self: center; */
  padding-left: 4vw;
}

.climet a {
  font-size: 1vw;
  position: relative;
  padding-left: 4vw;
  color: rgb(8, 8, 75);
  text-decoration: underline;
  margin-bottom: 25%;
}

.issue {
  width: 10vw;
  display: flex;
  position: relative;
  flex-flow: column;
  background-color: #354463;
  color: white;
  top: -1vw;
  left: -9vw;
  font-size: 0.5vw;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  align-self: center;
}

@font-face {
  font-family: 'floodstd';
  src: url('/flood-std/FloodStd.otf');
}

#part1{
  width: 100%;
  background-color: #c1f7d5;
  display: flex;
  flex-flow: column;
  /* align-items: center; */
  padding-bottom: 5vw;
}

.actions,
.boxes {
  width: 80%;
  display: flex;
  position: relative;
  /* justify-content: space-around; */
  align-self: center;
  margin-left: 12vw;
}

.action {
  position: relative;
  display: flex;
  width: 55%;
  flex-flow: row;
}

.action div {
  margin-right: 7vw;
}

.takeaction {
  width: 10%;
  position: relative;
  display: flex;
  flex-flow: column;
  align-self: center;
  background-color: #354463;
  top: -1vw;
  left: 41vw;
  font-size: 1.1vw;
  color: white;
  text-align: center;
}

#part1 h2 {
  color: #354463;
  font-size: 2vw;
  font-style: bold;
}

#part1 p2 {
  color: #354463;
  font-size: 1.05vw;
  font-family: Helvetica;
  font-style: light;
}

#part2 {
  background-color: #354463;
  max-width: 100%;
  padding-bottom: 30vw;
  display: flex;
  flex-direction: row;
  /* align-items: center; */
}

.whatwedo {
  background-color: white;
  width: 7vw;
  display: flex;
  flex-flow: column;
  position: relative;
  align-items: center;
  top: 5vw;
  left: 10.5vw;
  color: #354463;
  font-size: 0.5vw;
}

.mission {
  color: white;
  font: Bold 3.1vw Helvetica;
  position: relative;
  width: 70%;
  align-self: center;
  top: 8vw;
  left: 10vw;
}

.box1 {
  background-color: white;
  width: 20vw;
  padding-bottom: 7vw;
  top: 20vw;
  margin-right: 10vw;
  display: flex;
  position: relative;
}

.box1 img {
  width: 20vw;
  height: 12vw;
  margin-left: 3vw;
  margin-top: -2vw;
  background-repeat: no-repeat;
  background-position: top;
  /* display: flex; */
}

.box1 h3 {
  font: bold 1.7vw Helvetica;
  position: relative;
  color: #354463;
  align-self: center;
  text-align: left;
  margin-top: 12vw;
  width: 12vw;
  margin-left: -20vw;
}

.boxes p {
  font: 1vw Helvetica;
  font-style: light;
  color: #354463;
  margin-left: -20vw;
  width: 12vw;
}

footer {
  background-color: white;
  max-width: 100%;
  color: rgb(8, 8, 75);
  display: flex;
}

.footer {
  width: 9vw;
  background-color: white;
  margin-top: 5vw;
  margin-left: 10vw;
  /* align-content: space-around; */
}

.parentclass {
  display: flex;
  flex-flow: row;
  align-content: flex-start;
  /* margin-right: 5vw; */
  margin-left: 10vw;
  margin-top: 5vw;
}

.parentclass1 {
  width: 25%;
  margin-right: 1.5vw;
  font-family: Helvetica;
  font-weight: lighter;
}

.footer h1 {
  font-size: 1.3vw;
  width: 10vw;
}

.parentclass h1 {
  font-size: 1vw;
}

.parentclass p {
  font-size: 0.7vw;
}

.stop {
  width: 10vw;
  background-color: transparent;
  position: relative;
  left: 55vw;
  top: -7vw;
  font-family: floodstd;
  font-size: 2.5vw;
  color: #354463;
}

@media only screen and (max-width: 768px) {
  .btn {
    align-self: flex-start;
    padding: 1vw;
    margin-top: -7vw;
    margin-bottom: 2vw;
  }
  .indexing button {
    font-size: 2.5vw;
    padding: 2vw;
  }
  .heading {
    width: 70%;
  }
  .heading h1 {
    font-size: 3vw;
    padding: 0;
    margin: 0;
  }
  .indexing nav {
    align-self: flex-start;
  }
  .indexing li {
    font-size: 1.7vw;
  }
  .indexing {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .climetWitheissue {
    flex-flow: column-reverse wrap-reverse;
    align-self: center;
  }

  #part {
    background-image: url('/assets/home/annie-spratt-135307-unsplash.png');
    width: 100%;
    background-size: cover;
    background-position: top;
  }

  .issue {
    width: 20%;
    top: -1.2vw;
    left: 7vw;
  }

  .issue h1 {
    font-size: 1.5vw;
  }

  .text {
    width: 20%;
    left: -67vw;
  }

  .climet {
    width: 75%;
    left: -10vw;
  }

  .climet p {
    font-size: 4.5vw;
  }

  .climet a {
    font-size: 2.7vw;
  }

  .takeaction {
    width: 20%;
    left: 38vw;
    top: -2vw;
  }

  .takeaction p {
    font-size: 2.2vw;
  }

  .action {
    flex-flow: column;
    width: 50%;
  }

  #part1 h2 {
    font-size: 3vw;
  }

  #part1 p2 {
    font-size: 2.2vw;
  }

  .whatwedo {
    width: 17%;
    font-size: 1.1vw;
  }

  .mission {
    font-size: 4.3vw;
    width: 80%;
  }

  .boxes {
    flex-flow: column;
    justify-content: space-around;
    left: 3vw;
    top: -7vw;
  }

  .box1 {
    flex-flow: column;
    width: 80%;
    margin-top: 5vw;
  }

  .box1 h3 {
    margin-left: 31vw;
    margin-top: -12vw;
    font-size: 2.1vw;
    width: 30%;
  }

  .box1 p {
    margin-left: 31vw;
    font-size: 1.7vw;
    width: 45%;
  }

  .box1 img {
    width: 25vw;
    height: 17vw;
  }

  .footer {
    width: 40%;
    margin-left: 7vw;
  }

  .parentclass {
    display: flex;
    flex-flow: row wrap;
    margin-top: 5vw;
    margin-left: 4vw;
    max-width: 65%;
  }

  .parentclass1 {
    width: 41%;
    margin-right: 2.7vw;
  }

  .footer h1 {
    font-size: 2.8vw;
    width: 100%;
  }

  .parentclass h1 {
    font-size: 2.1vw;
  }

  .parentclass p {
    font-size: 1.9vw;
  }

  .stop {
    left: 27vw;
    top: -15vw;
    font-size: 5vw;
  }
}

@media only screen and (max-width: 534px) {
  .btn {
    align-self: flex-end;
    padding: 1vw;
    margin-top: 0vw;
    margin-bottom: 2vw;
  }
  .indexing button {
    font-size: 4vw;
    padding: 2vw;
    padding-left: 23vw;
    padding-right: 23vw;
  }
  .heading {
    width: 49%;
  }
  .heading h1 {
    font-size: 5vw;
    padding: 0;
    margin: 0;
  }
  .indexing nav {
    flex-direction: column;
    width: 90%;
    align-items: flex-start;
    align-self: center;
    /* order: 1; */
    margin-top:-10vw ;
    margin-left: 50vw;
  }
  .indexing li {
    font-size: 3.2vw;
    /* margin-left: 70vw; */
    /* align-self: flex-end; */
  }
  .indexing {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .text p {
    font-size: 9.5vw;
    margin-left: 50vw;
  }

  #part {
    background-image: url('/assets/home/annie-spratt-135307-unsplash@2x.png');
    width: 100%;
    background-size: cover;
    background-position: top;
  }
  .issue {
    width: 25vw;
    top: -2vw;
    left: -4vw;
    align-self: center;
  }
  .issue h1{
    font-size: 3.5vw;
  }
  .climet {
    width: 80%;
    margin-left: 20vw;
    text-align: center;
  }

  .climet p {
    font-size: 5vw;
    width: 90%;
  }

  .climet a {
    font-size: 2.9vw;
    width: 90%;
    text-align: center;
  }

  .takeaction {
    width: 25%;
    left: 35vw;
    top: -2.5vw;
  }

  .takeaction p {
    font-size: 3vw;
  }

  #part1 h2 {
    font-size: 5vw;
  }

  #part1 p2 {
    font-size: 3.2vw;
  }

  .whatwedo {
    width: 40%;
    font-size: 2.1vw;
    align-self: center;
    left: 28vw;
  }

  .mission {
    font-size: 4.5vw;
    width: 80%;
    text-align: center;
  }

  .boxes {
    flex-flow: column;
    justify-content: space-around;
    left: 10vw;
    top: -7vw;
  }

  .box1 {
    flex-flow: column;
    width: 70%;
    margin-top: 5vw;
    text-align: center;
    padding-bottom: 5vw;
  }

  .box1 h3 {
    margin-left: 10vw;
    margin-top: 2vw;
    font-size: 3.2vw;
    width: 80%;
  }

  .box1 p {
    margin-left: 10vw;
    font-size: 2.7vw;
    width: 65%;
  }

  .box1 img {
    width: 47vw;
    height: 27vw;
    margin-left: -0.5vw;
  }

  .footer {
    width: 50%;
    margin-left: 7vw;
  }

  .parentclass {
    display: flex;
    flex-flow: row wrap;
    margin-top: 5vw;
    margin-left: 15vw;
    max-width: 70%;
  }

  .parentclass1 {
    width: 41%;
    margin-right: 4vw;
  }

  .footer h1 {
    font-size: 3.3vw;
    width: 100%;
  }

  .parentclass h1 {
    font-size: 3.1vw;
  }

  .parentclass p {
    font-size: 2.9vw;
  }

  .stop {
    left: 40vw;
    top: -20vw;
    font-size: 7vw;
  }
}