* {
    margin: 0vw;
    padding: 0em;
}

html,
body {
    font-size: 12px;
}

@font-face {
    font-family: 'floodstd';
    src: url('/flood-std/FloodStd.otf');
}

.part1 button {
    background-color: #c1f7d5;
    border: none;
    padding: 1em;
    text-align: center;
    font-weight: bold;
    display: inline-block;
    border-radius: 7em;
    font-size: 1.1em;
    padding: 1em;
}

a {
    text-decoration: none;
    color: rgb(8, 8, 75);
}

.part1 {
    display: flex;
    width: 80%;
    align-self: center;
    flex-direction: column;
    justify-content: space-around;
    padding: 2em;
}

.action {
    width: 80%;
    display: flex;
    flex-direction: column;
    /* height: 70em; */
}

section {
    display: flex;
    background-size: cover;
    background-image: url('/assets/home/Did\ you\ know\ background.png');
    width: 100%;
    background-repeat: no-repeat;
    background-position: top;
    opacity: 1;
    flex-direction: column;
    /* padding-bottom: 10em; */
}

.text {
    color: white;
    font-family: floodstd;
    font-size: 2.5em;
    align-self: flex-start;
    padding-bottom: 0.5em;
}

.didyouknow {
    background-color: rgb(8, 8, 75);
    color: white;
    position: relative;
    width: 40%;
    font-size: 0.8em;
    text-align: center;
    padding: 1em;
    align-self: center;
    bottom: -1.7em;
}

.box {
    background-color: white;
    align-items: flex-start;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    /* padding: 5em 6.5em; */
    margin-bottom: 2em;
}

.fact {
    width: 80%;
    display: flex;
    align-self: center;
    color: rgb(8, 8, 75);
    position: relative;
    flex-direction: column;
    margin: 2em;
    /* justify-content: space-around; */
    padding-bottom: 0.5em;
}
.fact h3{
    margin-bottom: 0.5em;
}

.boxes {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    /* height: 55em; */
    width: 100%;
    /* margin-top: 3em; */
}

.box h3 {
    font-size: 1.5em;
    /* align-self: center; */
}

.box p {
    /* align-self: center; */
    font-size: 0.8em;
    width: 80%;
}

@media only screen and (min-width: 768px) {

    html,
    body {
        font-size: 17px;
    }

    section {
        background-image: url('/assets/home/Did\ you\ know\ background@2x.png');
        display: flex;
        justify-content: space-around;
        /* align-items: center */
    }

    .text {
        width: 30%;
    }


    .boxes {
        width: 90%;
    }

    .box p{
        width: 85%;
    }

    .fact {
        width: 70%;
    }

    .didyouknow {
        margin-left: -8em;
        width: 40%;
    }

    .part1 {
        flex-direction: row;
        justify-content: space-around;
        align-self: center;
    }
}

@media only screen and (min-width: 1024px) {

    html,
    body {
        font-size: 24px;
    }

    section {
        background-image: url('/assets/home/did-you-know-background@3x.png');
    }

    .text {
        width: 50%;
    }

    .part1 button {
        margin-top: 1em;
    }

    .boxes {
        width: 60%;
    }

    .box {
        width: 100%;
    }

    .fact {
        width: 70%;
    }
}