footer{
    color: rgb(8, 8, 75);
    background-color: white;
    display: flex;
    justify-content: space-around;
}

.parent{
    display: flex;
    width: 90%;
    flex-direction: column;
}

.child1{
    width: 90%;
    flex-wrap: wrap;
    flex-direction: row;
}


.greentree{
    font-size: 0.7em;
    width: 40%;
    margin: 0em;
    text-transform: capitalize;
}


.contact {
    width: 30%;
}

.contact1 h1{
    font-size: 0.9em;
}